.svgAnime {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Group {
    stroke:rgb(78, 78, 78);
    stroke-width: 10px;
} 
#manGroup {
    stroke:rgb(78, 78, 78);
    stroke-width: 1px;
}

p {
    font-size: 1rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media screen and (width: 360px) {
    p {
        font-size: 0.5rem;
    }
}
